doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/tailwindcss/2.2.19/tailwind.min.css")
    script(type="text/javascript" defer src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-y/alpinejs/3.9.0/cdn.min.js")
    //- script(type="text/javascript" defer src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/htmx/1.7.0/htmx.min.js")
  body
    block content
